.content {
    margin-top: 10px;
    grid-area: c;
    background-color: white;
    margin-left: 20px;
  }
  
  .content img {
    width: 500px;
    height: 200px;
    margin-left: 50px;
  }
